<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img class="bd-placeholder-img" width="100%" height="100%" src="./images/Kolumbiya.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="shadowtext">Колумбия</h1>
                    <p class="shadowtext">Изумительные пляжи, тропические леса, заснеженные вершины гор, экзотические фрукты – все это есть в многоликой Колумбии.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="./images/Gvatemala.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="shadowtext">Гватемала</h1>
                    <p class="shadowtext">Гватемалу стоит посетить, чтобы своими глазами увидеть то, как органично может сочетаться многовековая история древних племен майя и перспективное будущее их потомков.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Узнать больше</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="./images/panama.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">            <div class="container">
                <div class="carousel-caption text-right">
                    <h1 class="shadowtext">Панама</h1>
                    <p class="shadowtext">Тропическая страна с буйной вечнозеленой растительностью, влажным и жарким климатом с очень ровными колебаниями температур.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Перейти</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Далее</span>
    </a>
</div>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./images/faces/floriana.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/>
            <h2>Флориана</h2>
            <p>Хочу отдохнуть, найти себя в путешествии и побыть в хорошей компании.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./images/faces/leonardo.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Леонардо</h2>
            <p>Едем с компанией в Лос Кобанос. Тихий океан на две недели, вино, устрицы, мидии, пляж, море гарантируем.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./images/faces/alexa.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Александра</h2>
            <p>Люблю активный отдых и интересные места. Есть несколько идей для путешествий.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Интересные факты</h2>
            <p class="text-muted">Богота - третий по величине город в мире! <br> Прежнее название столицы Колумбии - Санта-фе-де-Богота. </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./images/facts/bogota.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Подняться вверх</a></p>
    <p>&copy; 2020 HALISKO &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>